@{
    Layout = null;
}
@using applicationFiltre
@model IEnumerable<applicationFiltre.Models.OrderCount>

@*@{
    string postedCheckboxValue = Session["PostedCheckboxValue"] as string;
    string postedCheckboxValueLa = Session["PostedCheckboxValueLa"] as string;
}*@

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/style/W3.css")
    @Styles.Render("~/style/Style.css")

    <meta name="viewport" content="width=device-width" />
    <title>Filtre Application </title>

</head>
<body>
    <div>
        <div class="container">
            <p>Filtre @ViewBag.Type </p>
            <br />
            @*<div class="head">
                    <p>Filtre @ViewBag.Type </p>

                </div>*@

            <div class="title_color"> </div>

            @if (ViewBag.Type == "Lentille")
            {
                @*<div class="CritereNum">
                        <p>
                            Critère numéro de commande:
                        </p>
                    </div>*@}

            <div class="all">

                @if (ViewBag.Type == "Lentille")
                {


                    <div class="titreNum">
                        <p>
                            Critère N° de commande
                        </p>

                        <div class="check">


                            <div>

                                                    @*<input style="background-color: #F2FAFE;" type="checkbox" id="tout" class="select-all" onclick="" />
                            <label for="tout">Tout</label>
                            <br />
                            <form action="/Home/GetCheckboxValue" method="post">
                                <input type="hidden" name="type" value="@ViewBag.Type" />
                                <input type="checkbox" id="checkboxId" name="checkboxValue" value="1" class="individual-checkbox" onclick="this.form.submit();" />
                                <label for="1">1</label>
                            </form>
                            <form action="/Home/GetCheckboxValue" method="post">
                                <input type="hidden" name="type" value="@ViewBag.Type" />

                                <input type="checkbox" id="checkboxId4" name="checkboxValue" value="4" class="individual-checkbox" onclick="this.form.submit();" @(ViewBag.PostedCheckboxValue == "4" ? "checked" : "") />
                                <label for="4">4</label>
                            </form>
                            <form action="/Home/GetCheckboxValue" method="post">
                                <input type="hidden" name="type" value="@ViewBag.Type" />
                                <input type="checkbox" id="checkboxId" name="checkboxValue" value="9" class="individual-checkbox" onclick="this.form.submit();" />
                                <label for="9">9</label>
                            </form>*@

                                <asp:CheckBoxList runat="server" ID="checkboxList" SelectionMode="Multiple" AutoPostBack="true" OnSelectedIndexChanged="CheckboxList_SelectedIndexChanged">
                                    <asp:ListItem Text="1" Value="1"></asp:ListItem>
                                    <asp:ListItem Text="4" Value="4" ></asp:ListItem>
                                    <asp:ListItem Text="9" Value="9"></asp:ListItem>
                                </asp:CheckBoxList>


                            </div>


                        </div>

                    </div>
                }




                <div class="CritereCli @(ViewBag.Type == "Lentille" ? "CritereCli" : "CritereCli2")">
                    <div class="titre  @(ViewBag.Type == "Lentille" ? "titre" : "titre2")">

                        <p>Critère client</p>
                    </div>
                    <div>
                        <div class="checkbox-container @(ViewBag.Type == "Lentille" ? "checkbox-container" : "checkbox-container2")">
                            <form action="/Home/GetCheckboxValue" method="post">
                                <input type="hidden" name="type" value="@ViewBag.Type" />
                                <input type="checkbox" id="checkboxId7" name="checkboxValueLa" value="L13" onclick="this.form.submit();" @(ViewBag.PostedCheckboxValueLa == "L13" ? "checked" : "") />
                                <label for="L13">La Fayette</label>
                            </form>
                            <label>
                                <input type="checkbox" id="autre" value="Autre">
                                Autre
                            </label>
                        </div>

                    </div>
                    <div class="table-container">
                        <table class="empty-table">
                            <thead>
                                <tr>

                                    <th>Commande </th>
                                    <th>Nb de ligne</th>
                                    <!-- Ajoutez autant d'en-têtes que nécessaire -->
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Orders</td>
                                        <td>@item.NbLigne</td>
                                    </tr>
                                }
                                <!-- Ajoutez autant de lignes que nécessaire -->
                            </tbody>
                        </table>
                    </div>

                </div>





                @if (ViewBag.Type == "Lentille")
                {
                    <div class="annule">
                        <p>Commande à annuler </p>


                        <input class="custom-input" type="text" placeholder="N° de commande">
                        <div class="valid">

                            <button>Annuler</button>
                        </div>


                    </div>
                }
            </div>
            <br />
            <div style="text-align: center;">


                <button>Valider filtre </button>
            </div>
            @*@if (Model != null)
                {

                <div>
                    @foreach (var item in Model)
                    {
                        <p>@item</p>
                    }
                </div>
                }*@

        </div>


    </div>
</body>
</html>

@*@if (ViewBag.Type == "Lentille")
{
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            var selectAllCheckbox = document.getElementById('tout');
            var individualCheckboxes = document.querySelectorAll('.individual-checkbox');

            selectAllCheckbox.addEventListener('change', function () {
                var isChecked = selectAllCheckbox.checked;

                individualCheckboxes.forEach(function (checkbox) {
                    checkbox.checked = isChecked;
                });
            });

            individualCheckboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    var allChecked = Array.from(individualCheckboxes).every(function (cb) {
                        return cb.checked;
                    });

                    selectAllCheckbox.checked = allChecked;
                });
            });
        });


                //------------------------------------


    </script>

}*@


@*}
    else if (ViewBag.Type == "Verre")
    {
        <div class="container">
            <div class="head">
                <p>Filtre @ViewBag.Type </p>
            </div>


            <div class="CritereCli2">
                <div class="titre2">

                    <p>Critère client:</p>
                </div>
                <div>
                    <div class="checkbox-container2">
                        <label>
                            <input type="checkbox" id="lafayette" value="La Fayette">
                            La Fayette
                        </label>
                        <label>
                            <input type="checkbox" id="autre" value="Autre">
                            Autre
                        </label>
                    </div>

                </div>
                <div class="table-container">
                    <table class="empty-table">
                        <thead>
                            <tr>
                                <th>Commande :</th>
                                <th>Nombre de ligne :</th>
                                <!-- Ajoutez autant d'en-têtes que nécessaire -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <!-- Ajoutez autant de lignes que nécessaire -->
                        </tbody>
                    </table>
                </div>

            </div>
         </div>
    }*@